<md-dialog class="dark-footer medium-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ 'textPackDetail' | translate }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="accept()">
                <md-icon>clear</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content flex>
        <md-list flex ng-show="!cartasSobre">
            <md-list-item class="md-2-line" ng-repeat="pack in global.user.game.packs track by $index">
                <md-icon>stay_current_portrait</md-icon>
                <div class="md-list-item-text" layout="column">
                    <h3>{{ pack.source }}</h3>
                    <p>{{'textPacksAmount' | translate}} {{ pack.amount }}</p>
                </div>
                <md-button class="md-secondary md-primary md-hue-1" ng-click="open(pack.category)" aria-label="">
                    {{'textPacksOpen' | translate}}
                </md-button>
            </md-list-item>
        </md-list>

        <div ng-show="cartasSobre" layout="row" layout-padding>
            <p ng-if="cartasSobre.length === 0">No tienes sobres</p>
            <p ng-if="cartasSobre.length > 0">Cartas nuevas</p>
            <div ng-repeat="card in cartasSobre track by $index" flex>
                <div flex class="schedule-card-holder filled" layout-align="center center" layout="column"
                     ng-class="card.element">
                    <img ng-src="assets/img/cards/{{card.card}}.jpg"/>
                    <span>{{card.name}}</span>
                </div>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="space-around center">
        <md-button ng-show="!cartasSobre" type="button" class="md-raised md-accent md-hue-1" ng-click="">
            {{'textBuyPacks' | translate}}
        </md-button>

        <md-button type="button" class="md-raised md-primary" ng-click="accept()">
            {{'textClose' | translate}}
        </md-button>
    </md-dialog-actions>
</md-dialog>
