<md-dialog id="profile-dialog" ng-cloak class="md-whiteframe-1dp">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{'profileTitle' | translate}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon>clear</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content layout-margin>
        <form name="userForm" layout-padding novalidate>
            <md-input-container class="md-block">
                <label>{{'profileAlias' | translate}}</label>
                <input ng-model="user.alias"/>
            </md-input-container>

            <md-input-container class="md-block">
                <label>{{'profileAvatar' | translate}}</label>
                <input ng-model="user.avatar"/>
            </md-input-container>

            <md-input-container class="md-block">
                <label>{{'profilePassword' | translate}}</label>
                <input ng-model="user.password" type="password"/>
            </md-input-container>

            <md-input-container class="md-block">
                <label>{{'profileRepassword' | translate}}</label>
                <input ng-model="user.repassword" type="password"/>
            </md-input-container>
        </form>
    </md-dialog-content>

    <div class="md-actions" layout="row">
        <md-button ng-click="cancel()" type="button" class="md-warn md-hue">
            {{'textCancel' | translate}}
        </md-button>

        <md-button type="button" class="md-raised md-primary" ng-click="saveUser()">
            {{'textSave' | translate}}
        </md-button>
    </div>
</md-dialog>
