<md-dialog id="profile-dialog" ng-cloak class="md-whiteframe-1dp dark-footer">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{'profileTitle' | translate}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon>clear</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content layout-margin>
        <form name="userForm" layout-padding novalidate>
            <md-input-container class="md-block">
                <label>{{'profileAlias' | translate}}</label>
                <input ng-model="user.alias"/>
            </md-input-container>

            <p>{{'profileChangePassword' | translate}}</p>

            <md-input-container class="md-block">
                <label>{{'profilePassword' | translate}}</label>
                <input ng-model="user.password" type="password"/>
            </md-input-container>

            <md-input-container class="md-block">
                <label>{{'profileRepassword' | translate}}</label>
                <input ng-model="user.repassword" type="password"/>
            </md-input-container>

            <p>{{'profileAvatar' | translate}}</p>
            <md-grid-list
                    md-cols-xs="3" md-cols-sm="4" md-cols-md="6" md-cols-lg="8" md-cols-gt-lg="10"
                    md-row-height="1:1" md-gutter="24px" md-gutter-gt-sm="12px">
                <md-grid-tile class="avatar-tile" ng-repeat="id in range(1,maxAvatarNumber)" ng-click="selectAvatar(id)"
                              ng-class="{'selected': user.avatar === id}" id="avatar{{id}}">
                    <img ng-src="assets/img/avatars/{{id}}.png"/>
                </md-grid-tile>
            </md-grid-list>
        </form>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="cancel()" type="button" class="md-warn md-hue-1">
            {{'textCancel' | translate}}
        </md-button>

        <md-button type="button" class="md-raised md-primary" ng-click="saveUser()">
            {{'textSave' | translate}}
        </md-button>
    </md-dialog-actions>
</md-dialog>
