<section id="planning-page" flex layout="row">

    <!-- CONTENIDO -->
    <md-content layout="column" layout-gt-sm="row" ng-cloak layout-fill>
        <div class="y-scroll" flex layout-fill layout-padding>

            <md-card class="kafhe-background-black">
                <md-card-header>
                    <md-card-avatar>
                        <img ng-src="{{ global.user.avatar }}"/>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title big-title">{{global.user.alias}}</span>
                        <span class="md-subhead">{{global.user.game.rank}}</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline" ng-class="{ 'small-font': isSmallScreen() }">
                        {{ 'textPlanningTeam' |translate }}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content class="schedule-container">
                    <div layout="row" class="schedule-card-header">
                        <div flex><p>{{ 'textWeapon' |translate }}</p></div>
                        <div flex><p>{{ 'textArmor' |translate }}</p></div>
                        <div flex><p>{{ 'textPlanningGPS' |translate }}</p></div>
                    </div>
                    <div layout="row">
                        <div flex class="schedule-card-holder" layout-align="center center" layout="row"
                             ng-click="cardSelection(global.user.username, 'weapon', 0)"
                             ng-class="{ 'selected': selectingOwn.weapon[0] }">
                            <img ng-if="selectionOwn.weapon[0]"
                                 ng-src="assets/img/cards/{{selectionOwn.weapon[0].card}}.jpg"/>
                            <md-icon ng-if="!selectionOwn.weapon[0]"
                                     md-svg-src="assets/img/cards/card-placeholder.svg" layout-fill></md-icon>
                            <p flex="none" class="text-center" ng-class="{ 'small-font': isSmallScreen() }">
                                {{ 'textPlanningSelectCard' |translate }}
                            </p>
                        </div>
                        <div flex class="schedule-card-holder" layout-align="center center" layout="row"
                             ng-click="cardSelection(global.user.username, 'armor', 0)"
                             ng-class="{ 'selected': selectingOwn.armor[0] }">
                            <img ng-if="selectionOwn.armor[0]"
                                 ng-src="assets/img/cards/{{selectionOwn.armor[0].card}}.jpg"/>
                            <md-icon ng-if="!selectionOwn.armor[0]"
                                     md-svg-src="assets/img/cards/card-placeholder.svg" layout-fill></md-icon>
                            <p flex="none" class="text-center" ng-class="{ 'small-font': isSmallScreen() }">
                                {{ 'textPlanningSelectCard' |translate }}
                            </p>
                        </div>
                        <div flex class="schedule-card-holder" layout-align="center center" layout="row"
                             ng-click="cardSelection(global.user.username, 'place', 0)"
                             ng-class="{ 'selected': selectingOwn.place[0] }">
                            <!--<img src="assets/img/cards/card-placeholder.jpg"/>-->
                            <img ng-if="selectionOwn.place[0]"
                                 ng-src="assets/img/cards/{{selectionOwn.place[0].card}}.jpg"/>
                            <md-icon ng-if="!selectionOwn.place[0]"
                                     md-svg-src="assets/img/cards/card-placeholder.svg" layout-fill></md-icon>
                            <p flex="none" class="text-center" ng-class="{ 'small-font': isSmallScreen() }">
                                {{ 'textPlanningSelectCard' |translate }}
                            </p>
                        </div>
                    </div>
                </md-card-content>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline" ng-class="{ 'small-font': isSmallScreen() }">
                        {{'textSkills' | translate }}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div layout="row">
                        <div flex class="schedule-card-holder" layout-align="center center" layout="row"
                             ng-click="cardSelection(global.user.username, 'skill', 0)"
                             ng-class="{ 'selected': selectingOwn.skill[0] }">
                            <img ng-if="selectionOwn.skill[0]"
                                 ng-src="assets/img/cards/{{selectionOwn.skill[0].card}}.jpg"/>
                            <md-icon ng-if="!selectionOwn.skill[0]"
                                     md-svg-src="assets/img/cards/card-placeholder.svg" layout-fill></md-icon>
                            <p flex="none" class="text-center" ng-class="{ 'small-font': isSmallScreen() }">
                                {{ 'textPlanningSelectCard' |translate }}
                            </p>
                        </div>
                        <div flex class="schedule-card-holder" layout-align="center center" layout="row"
                             ng-click="cardSelection(global.user.username, 'skill', 1)"
                             ng-class="{ 'selected': selectingOwn.skill[1] }">
                            <img ng-if="selectionOwn.skill[1]"
                                 ng-src="assets/img/cards/{{selectionOwn.skill[1].card}}.jpg"/>
                            <md-icon ng-if="!selectionOwn.skill[1]"
                                     md-svg-src="assets/img/cards/card-placeholder.svg" layout-fill></md-icon>
                            <p flex="none" class="text-center" ng-class="{ 'small-font': isSmallScreen() }">
                                {{ 'textPlanningSelectCard' |translate }}
                            </p>
                        </div>
                        <div flex class="schedule-card-holder" layout-align="center center" layout="row"
                             ng-click="cardSelection(global.user.username, 'skill', 2)"
                             ng-class="{ 'selected': selectingOwn.skill[2] }">
                            <img ng-if="selectionOwn.skill[2]"
                                 ng-src="assets/img/cards/{{selectionOwn.skill[2].card}}.jpg"/>
                            <md-icon ng-if="!selectionOwn.skill[2]"
                                     md-svg-src="assets/img/cards/card-placeholder.svg" layout-fill></md-icon>
                            <p flex="none" class="text-center" ng-class="{ 'small-font': isSmallScreen() }">
                                {{ 'textPlanningSelectCard' |translate }}
                            </p>
                        </div>
                    </div>
                </md-card-content>
            </md-card>

            <!-- OPONENTES -->
            <md-card class="md-hue-1" ng-repeat="enemy in enemies | orderBy: 'username'">
                <md-card-header>
                    <md-card-avatar>
                        <img ng-src="{{ enemy.avatar }}"/>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title big-title">{{enemy.alias}}</span>
                        <span class="md-subhead">{{enemy.game.rank}}</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline" ng-class="{ 'small-font': isSmallScreen() }">
                            {{'textPlanningEncountersEvents' |translate }}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content class="schedule-container">
                    <div layout="row" class="schedule-card-header">
                        <div flex="33"><p>{{ 'textEvent' |translate }}</p></div>
                        <div flex="66"><p>{{ 'textEncounters' |translate }}</p></div>
                    </div>
                    <div layout="row">
                        <div flex class="schedule-card-holder" layout-align="center center" layout="row"
                             ng-click="cardSelection(enemy.username, 'event', 0)"
                             ng-class="{ 'selected': selectingEnemy[enemy.username].event[0] }">
                            <img ng-if="selectionEnemy[enemy.username].event[0]"
                                 ng-src="assets/img/cards/{{selectionEnemy[enemy.username].event[0].card}}.jpg"/>
                            <md-icon ng-if="!selectionEnemy[enemy.username].event[0]"
                                     md-svg-src="assets/img/cards/card-placeholder.svg" layout-fill></md-icon>
                            <p flex="none" class="text-center" ng-class="{ 'small-font': isSmallScreen() }">
                                {{ 'textPlanningSelectCard' |translate }}
                            </p>
                        </div>

                        <!-- Encuentro 1 -->
                        <div flex class="schedule-card-holder filled" layout-align="center center" layout="column"
                             ng-if="selectionEnemy[enemy.username].encounter[0]"
                             ng-class="global.gamedata.cards[selectionEnemy[enemy.username].encounter[0].card].element">
                            <img ng-src="assets/img/cards/{{selectionEnemy[enemy.username].encounter[0].card}}.jpg"/>
                            <span>{{global.gamedata.cards[selectionEnemy[enemy.username].encounter[0].card].name}}</span>
                        </div>
                        <div flex class="schedule-card-holder" layout-align="center center" layout="row"
                             ng-click="cardSelection(enemy.username, 'encounter', 0)"
                             ng-class="{ 'selected': selectingEnemy[enemy.username].encounter[0] }"
                             ng-if="!selectionEnemy[enemy.username].encounter[0]">
                            <img ng-if="selectionEnemy[enemy.username].encounter[0]"
                                 ng-src="assets/img/cards/{{selectionEnemy[enemy.username].encounter[0].card}}.jpg"/>
                            <md-icon ng-if="!selectionEnemy[enemy.username].encounter[0]"
                                     md-svg-src="assets/img/cards/card-placeholder.svg" layout-fill></md-icon>
                            <p flex="none" class="text-center" ng-class="{ 'small-font': isSmallScreen() }"
                               ng-if="!selectionEnemy[enemy.username].encounter[0]">
                                {{ 'textPlanningSelectCard' |translate }}
                            </p>
                        </div>

                        <!-- Encuentro 2 -->
                        <div flex class="schedule-card-holder" layout-align="center center" layout="row"
                             ng-click="cardSelection(enemy.username, 'encounter', 1)"
                             ng-class="{ 'selected': selectingEnemy[enemy.username].encounter[1] }">
                            <img ng-if="selectionEnemy[enemy.username].encounter[1]"
                                 ng-src="assets/img/cards/{{selectionEnemy[enemy.username].encounter[1].card}}.jpg"/>
                            <md-icon ng-if="!selectionEnemy[enemy.username].encounter[1]"
                                     md-svg-src="assets/img/cards/card-placeholder.svg" layout-fill></md-icon>
                            <p flex="none" class="text-center" ng-class="{ 'small-font': isSmallScreen() }">
                                {{ 'textPlanningSelectCard' |translate }}
                            </p>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>

        <div class="y-scroll" flex layout-fill layout-padding>
            <k-collection card-collection="global.user.game.collection"></k-collection>
        </div>
    </md-content>

</section>
