<md-dialog class="dark-footer">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ card.name }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="accept()">
                <md-icon>clear</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content class="card-showroom">
        <div class="md-dialog-content" layout="column" layout-gt-sm="row">
            <div flex="none" layout-align="center center" layout="row">
                <div class="card-image-container" ng-class="card.element">
                    <img ng-src="assets/img/cards/{{card.id}}.jpg"/>
                    <div class="card-name"><p>{{ card.name }}</p></div>
                    <div class="card-type"><img src="assets/img/cardtype/{{card.type}}.png"/></div>
                    <div class="card-level"><p>{{ roman[card.level] }}</p></div>
                </div>
            </div>
            <div flex layout-padding class="card-detail">
                <p class="text-bold">{{ card.name }}</p>
                <p>{{ roman[card.level] }}</p>
                <p>{{ card.type }}</p>
                <p ng-if="card.element !== 'none'">{{ card.element }}</p>
                <p>Manolo es el mejor de toda la tierra pero no de la superior</p>
                <!--{"id":"2","name":"Casa Manolo","type":"place","effects":[],"element":"none","packs":[],
                "data":{"place":{"lat":-49.85,"long":-107.2,
                "level":1,"region":"Booooo","type":"capital","adjacent_places":["3","4"]}},"level":1}-->
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button type="button" class="md-raised md-primary" ng-click="accept()">
            {{'textAccept' | translate}}
        </md-button>
    </md-dialog-actions>
</md-dialog>
