<md-dialog class="dark-footer">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ 'textCardDetail' | translate }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="accept()">
                <md-icon>clear</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content class="card-showroom">
        <div class="md-dialog-content" layout="column" layout-gt-sm="row">
            <div flex="none" layout-align="center center" layout="row">
                <div class="card-image-container" ng-class="card.element">
                    <img ng-src="assets/img/cards/{{card.id}}.jpg"/>
                    <div class="card-name"><p>{{ card.name }}</p></div>
                    <div class="card-type"><img src="assets/img/cardtype/{{cardTypeImage(card)}}.png"/></div>
                    <div class="card-level" ng-if="!isPlace(card)"><p>{{ roman[card.level] }}</p></div>
                    <div class="card-level-place" ng-if="isPlace(card)" layout="column" layout-align="center center">
                        <md-icon class="md-accent md-hue-3"
                                 ng-repeat="i in getNumber(card.data.place.level) track by $index">star
                        </md-icon>
                    </div>
                </div>
            </div>
            <div flex layout-padding class="card-detail">
                <p class="text-bold">{{ card.name }}</p>
                <p class="text-italic">
                    {{ cardTextType(card) | translate}}
                    <span ng-if="card.element !== 'none' && (isWeapon(card) || isArmor(card) || isSkill(card))"> {{ 'cardElementDescription-'+card.element | translate }}</span>
                    <span ng-if="card.element !== 'none' && (isEncounter(card) || isEvent(card))"> {{ 'cardElementOf-'+card.element | translate }}</span>
                    <span ng-if="!isPlace(card)"> {{ 'cardLevelDescription' | translate:{level:roman[card.level]} }}</span>
                </p>

                <p ng-if="isPlace(card)">
                    {{'textDifficulty' | translate}}:
                    <md-icon class="md-accent md-hue-3"
                             ng-repeat="i in getNumber(card.data.place.level) track by $index">star
                    </md-icon>
                </p>
                <p ng-if="isPlace(card)">{{ card.data[card.type].description }}</p>

                <div ng-if="!isPlace(card)">
                    <p>{{ card.data[card.type].stats[card.level].description }}</p>
                </div>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button type="button" class="md-raised md-primary" ng-click="accept()">
            {{'textAccept' | translate}}
        </md-button>
    </md-dialog-actions>
</md-dialog>
