<md-dialog ng-cloak class="md-whiteframe-1dp">
    <form class="form min-width500" name="targetSelect" novalidate>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ card.name }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="accept()">
                    <md-icon>clear</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" layout="row">
                <div flex="50">
                    <img ng-src="assets/img/cards/{{card.id}}.jpg"/>
                </div>
                <div flex="50">
                    {{ roman[card.level] }}
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button type="button" class="md-raised md-primary" ng-click="accept()">
                {{'textAccept' | translate}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
