<md-content flex ng-cloak class="grey scrollbar-content">
    <!-- Durante el fin de semana  -->
    <div ng-show="global.gamedata.status === gameStatuses.weekend" layout-padding>
        <p>Evento en fin de semana o cerrado</p>
    </div>

    <!-- Durante planificación y exploración muestro estadísticas y log -->
    <div ng-show="global.gamedata.status === gameStatuses.planning || global.gamedata.status === gameStatuses.explore || global.gamedata.status === gameStatuses.resolution"
         layout-gt-sm="row" layout="column" layout-padding>
        <div layout="column" flex-gt-sm="50">
            <div id="chart-probabilities"></div>
            <div id="chart-ranking"></div>
        </div>
        <div layout="column" flex-gt-sm="50">
            <!-- Durante estado resolution muestro el botón de lanzar -->
            <div ng-show="global.gamedata.status === gameStatuses.resolution" flex="none" layout="row"
                 layout-align="center center" layout-padding layout-margin>
                <md-button class="md-raised md-warn text-big" aria-label="" ng-click="launchBreakfast()">
                    <md-icon>style</md-icon>
                    ¡Iniciar la votación!
                </md-button>
            </div>

            <div flex>Log de actividad</div>
        </div>
    </div>


    <!-- Durante estado cerrado muestro el resultado del lanzamiento si hay -->
    <div ng-show="global.gamedata.status === gameStatuses.closed" layout="column" layout-align="center center"
         layout-fill>
        <h1>{{'textSacrifice' | translate}} <em>{{ players[global.gamedata.caller] }}</em></h1>
        <div ng-if="global.gamedata.caller === global.user._id">
            <md-button class="md-raised md-accent md-hue-1" aria-label="" ng-click="goToPage('breakfast')">
                <md-icon>room_service</md-icon>
                Ver los pedidos y llamar
            </md-button>
        </div>
    </div>
</md-content>

<script type="text/javascript">
    $(document).ready(function () {

    });
</script>
