<div id="profile-menu" class="md-whiteframe-3dp" ng-show="$root.kUserLogged && showProfileMenu" flex="30"
     layout="column" layout-align="start start" layout-padding>
    <div flex="10">
        <span class="level">{{global.user.game.level}}</span>
        <h2 class="white">{{global.user.alias}}</h2>
    </div>
    <div class="equipo md-whiteframe-1dp kafhe-white-background" flex layout-margin>
        <p>Arma</p>
        <div ng-if="global.equipment.weapon">
            <p>[{{global.equipment.weapon.level}}] {{global.equipment.weapon.name}}</p>
            <p>{{global.equipment.weapon.class}} - {{global.equipment.weapon.element}}</p>
            <p>Daño: {{global.equipment.weapon.base_stats.damage}}</p>
            <p>Precisión: {{global.equipment.weapon.base_stats.precision}}</p>

            <div>
                <p ng-repeat="skill in global.equipment.weapon.skills">
                    {{skill.name}}
                </p>
            </div>
            <md-button class="md-warn" ng-click="destroy(global.equipment.weapon)">Destruir</md-button>
        </div>
    </div>

    <div class="equipo md-whiteframe-1dp kafhe-white-background" flex layout-margin>
        <p>Armadura</p>
        <div ng-if="global.equipment.armor">
            <p>[{{global.equipment.armor.level}}] {{global.equipment.armor.name}}</p>
            <p>{{global.equipment.armor.class}} - {{global.equipment.armor.element}}</p>
            <p>Protección: {{global.equipment.armor.base_stats.protection}}</p>
            <p>Bloqueo: {{global.equipment.armor.base_stats.parry}}</p>

            <div>
                <p ng-repeat="skill in global.equipment.armor.skills">
                    {{skill.name}}
                </p>
            </div>
            <md-button class="md-warn" ng-click="destroy(global.equipment.armor)">Destruir</md-button>
        </div>
    </div>

    <div flex="5" layout="row" layout-align="space-between center" layout-fill>
        <md-button ng-click="leaderPanel($event)" ng-if="global.leader" class="md-icon-button md-primary md-hue-1">
            <md-icon>pets</md-icon>
        </md-button>
        <md-button ng-click="" class="md-icon-button md-primary md-hue-1">
            <md-icon>settings</md-icon>
        </md-button>
        <md-button ng-click="logout()" class="md-warn md-raised">
            Desconectarse
            <md-icon>exit_to_app</md-icon>
        </md-button>
    </div>
</div>
