<md-content id="forge" class="grey" flex ng-cloak layout="column"
            layout-gt-md="row" layout-align-gt-md="space-around start">

    <!---->
    <!-- COLUMNA UNO -->
    <!---->
    <div flex layout="column">
        <!-- FORJA -->
        <div flex="70" layout="column" class="md-padding">
            <div layout="row" flex="none" layout-align="space-between center" layout-padding>
                <p class="title">Forja</p>

                <p class="stone">{{global.inventory.stones}}
                    <md-icon class="kafhe-accent" md-svg-icon="../../../assets/img/rock.svg"></md-icon>
                    <md-tooltip md-direction="top">Piedras de forja</md-tooltip>
                </p>
            </div>

            <div class="md-whiteframe-1dp" flex>
                <md-tabs md-border-bottom md-dynamic-height md-stretch-tabs="always">

                    <!-- ARMAS -->
                    <md-tab label="Arma">
                        <md-content class="md-padding kafhe-white-background">
                            <div class="forge-fill" layout="row" layout-align="center center">
                                <md-radio-group class="md-accent" ng-model="forge.weapon.class" layout="row"
                                                layout-align="space-around center" layout-fill>
                                    <md-radio-button ng-repeat="tipo in selectors.weapon" value="{{tipo}}">
                                        {{ tipo | translate}}
                                    </md-radio-button>
                                </md-radio-group>
                            </div>

                            <div layout="row" layout-align="space-around center">
                                <div flex="50">
                                    <md-input-container class="md-accent">
                                        <label>{{ 'tostem' | translate }}</label>
                                        <md-select ng-model="forge.weapon.tostem" class="md-accent">
                                            <md-option value="{{tostem.id}}" class="md-accent"
                                                       ng-repeat="tostem in global.inventory.tostems | filter:{in_use:false}">
                                                [Nv. {{tostem.level}}] {{tostem.element | translate}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <!--<p>Drop zone {{'rare' | translate:"{GENDER:'male'}":"messageformat" }}</p>-->
                                    <div class="dropzone" ng-drop="true"
                                         ng-drop-success="onDropComplete($data, 'forge', 'weapon', 'tostem', $event)">
                                        <md-icon md-svg-icon="../../../assets/img/floating-crystal.svg"></md-icon>
                                    </div>
                                </div>
                                <div flex="50">
                                    <md-input-container class="md-accent">
                                        <label>{{ 'rune' | translate }}</label>
                                        <md-select ng-model="forge.weapon.rune" class="md-accent">
                                            <md-option value="{{rune.id}}" class="md-accent"
                                                       ng-repeat="rune in global.inventory.runes | filter:{in_use:false}">
                                                [{{rune.frecuency | translate}}] {{rune.material | translate}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <div class="dropzone" ng-drop="true"
                                         ng-drop-success="onDropComplete($data, 'forge', 'weapon', 'rune', $event)">
                                        <md-icon md-svg-icon="../../../assets/img/stone-tablet.svg"></md-icon>
                                    </div>
                                </div>
                            </div>

                            <div layout="row" layout-align="space-between end">
                                <md-button class="md-icon-button md-warn btnClean" ng-click="cleanForm()">
                                    <md-icon>clear</md-icon>
                                    <md-tooltip md-direction="bottom">Limpiar</md-tooltip>
                                </md-button>

                                <md-button class="md-raised md-icon-button md-accent"
                                           ng-click="btnForgeWeapon()"
                                           ng-disabled="!forge.weapon.class || !forge.weapon.tostem || !forge.weapon.rune">
                                    <md-icon>gavel</md-icon>
                                    <md-tooltip md-direction="bottom">Forjar arma</md-tooltip>
                                </md-button>
                            </div>
                        </md-content>
                    </md-tab>

                    <!-- ARMADURAS -->
                    <md-tab label="Armadura">
                        <md-content class="md-padding kafhe-white-background">
                            <div class="forge-fill" layout="row" layout-align="center center">
                                <md-radio-group class="md-accent" ng-model="forge.armor.class" layout="row"
                                                layout-align="space-around center" layout-fill>
                                    <md-radio-button ng-repeat="tipo in selectors.armor" value="{{tipo}}">
                                        {{ tipo | translate}}
                                    </md-radio-button>
                                </md-radio-group>
                            </div>

                            <div layout="row" layout-align="space-around center">
                                <div flex="50">
                                    <md-input-container class="md-accent">
                                        <label>{{ 'tostem' | translate }}</label>
                                        <md-select ng-model="forge.armor.tostem" class="md-accent">
                                            <md-option value="{{tostem.id}}" class="md-accent"
                                                       ng-repeat="tostem in global.inventory.tostems | filter:{in_use:false}">
                                                [Nv. {{tostem.level}}] {{tostem.element | translate}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <div class="dropzone" ng-drop="true"
                                         ng-drop-success="onDropComplete($data, 'forge', 'armor', 'tostem', $event)">
                                        <md-icon md-svg-icon="../../../assets/img/floating-crystal.svg"></md-icon>
                                    </div>
                                </div>
                                <div flex="50">
                                    <md-input-container class="md-accent">
                                        <label>{{ 'rune' | translate }}</label>
                                        <md-select ng-model="forge.armor.rune" class="md-accent">
                                            <md-option value="{{rune.id}}" class="md-accent"
                                                       ng-repeat="rune in global.inventory.runes | filter:{in_use:false}">
                                                [{{rune.frecuency | translate}}] {{rune.material | translate}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <div class="dropzone" ng-drop="true"
                                         ng-drop-success="onDropComplete($data, 'forge', 'armor', 'rune', $event)">
                                        <md-icon md-svg-icon="../../../assets/img/stone-tablet.svg"></md-icon>
                                    </div>
                                </div>
                            </div>

                            <div layout="row" layout-align="space-between end">
                                <md-button class="md-icon-button md-warn btnClean" ng-click="cleanForm()">
                                    <md-icon>clear</md-icon>
                                    <md-tooltip md-direction="bottom">Limpiar</md-tooltip>
                                </md-button>

                                <md-button class="md-raised md-icon-button md-accent"
                                           ng-click="btnForgeArmor()"
                                           ng-disabled="!forge.armor.class || !forge.armor.tostem || !forge.armor.rune">
                                    <md-icon>gavel</md-icon>
                                    <md-tooltip md-direction="bottom">Forjar armadura</md-tooltip>
                                </md-button>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </div>
        </div>

        <!-- INVENTARIO TOSTEMS -->
        <div flex="30" class="md-padding" hide-sm>
            <h4>Inventario de tostems</h4>
            <md-grid-list
                    md-cols-sm="2" md-cols-md="3" md-cols-gt-md="5"
                    md-row-height-gt-md="1:1" md-row-height="4:3"
                    md-gutter="6px" md-gutter-gt-sm="8px">

                <md-grid-tile ng-repeat="tostem in global.inventory.tostems | filter:{in_use:false}"
                              md-rowspan="1"
                              md-colspan="1"
                              md-colspan-sm="1"
                              class="back-{{tostem.element}} md-whiteframe-1dp">
                    <md-grid-tile-header class="text-right">Nivel {{tostem.level}}</md-grid-tile-header>
                    <div class="text-center"
                         ng-drag="true"
                         ng-drag-data="tostem"
                         ng-center-anchor="true">
                        <md-icon class="element-{{tostem.element}}"
                                 md-svg-icon="../../../assets/img/floating-crystal.svg"></md-icon>
                    </div>
                    <md-grid-tile-footer><h3>{{tostem.element | translate}}</h3></md-grid-tile-footer>
                    <!--<md-tooltip md-direction="top">Tostem de {{tostem.element}}</md-tooltip>-->
                </md-grid-tile>
            </md-grid-list>
        </div>
    </div>

    <!---->
    <!-- COLUMNA DOS -->
    <!---->
    <div flex layout="column">
        <!-- HORNO -->
        <div flex="70" layout="column" class="md-padding">
            <div layout="row" flex="none" layout-align="space-between center" layout-padding>
                <p class="title">Horno</p>
            </div>

            <div class="md-whiteframe-1dp" flex>
                <md-tabs md-border-bottom md-dynamic-height md-stretch-tabs="always">

                    <!-- TOSTEM -->
                    <md-tab label="{{ 'tostem' | translate }}">
                        <md-content class="md-padding kafhe-white-background">
                            <div class="forge-fill"></div>
                            <div layout="row" layout-align="space-around center">
                                <div flex="50">
                                    <md-input-container class="md-accent">
                                        <label>{{ 'tostem' | translate }} I</label>
                                        <md-select ng-model="furnace.tostem.tostemA" class="md-accent">
                                            <md-option value="{{tostem.id}}" class="md-accent"
                                                       ng-repeat="tostem in global.inventory.tostems | filter:{in_use:false}">
                                                [Nv. {{tostem.level}}] {{tostem.element | translate}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <div class="dropzone" ng-drop="true"
                                         ng-drop-success="onDropComplete($data, 'furnace', 'tostem', 'tostemA', $event)">
                                        <md-icon md-svg-icon="../../../assets/img/floating-crystal.svg"></md-icon>
                                    </div>
                                </div>
                                <div flex="50">
                                    <md-input-container class="md-accent">
                                        <label>{{ 'tostem' | translate }} II</label>
                                        <md-select ng-model="furnace.tostem.tostemB" class="md-accent">
                                            <md-option value="{{tostem.id}}" class="md-accent"
                                                       ng-repeat="tostem in global.inventory.tostems | filter:{in_use:false}">
                                                [Nv. {{tostem.level}}] {{tostem.element | translate}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <div class="dropzone" ng-drop="true"
                                         ng-drop-success="onDropComplete($data, 'furnace', 'tostem', 'tostemB', $event)">
                                        <md-icon md-svg-icon="../../../assets/img/floating-crystal.svg"></md-icon>
                                    </div>
                                </div>
                            </div>

                            <div layout="row" layout-align="space-between end">
                                <md-button class="md-icon-button md-warn btnClean" ng-click="cleanForm()">
                                    <md-icon>clear</md-icon>
                                    <md-tooltip md-direction="bottom">Limpiar</md-tooltip>
                                </md-button>

                                <md-button class="md-raised md-icon-button md-accent"
                                           ng-click="btnFurnaceTostem()"
                                           ng-disabled="(furnace.tostem.tostemA === furnace.tostem.tostemB) || !furnace.tostem.tostemA || !furnace.tostem.tostemB">
                                    <md-icon>whatshot</md-icon>
                                    <md-tooltip md-direction="bottom">Hornear tostem</md-tooltip>
                                </md-button>
                            </div>
                        </md-content>
                    </md-tab>

                    <!-- RUNAS -->
                    <md-tab label="{{ 'rune' | translate }}">
                        <md-content class="md-padding kafhe-white-background">
                            <div class="forge-fill"></div>
                            <div layout="row" layout-align="space-around center">
                                <div flex="50">
                                    <md-input-container class="md-accent">
                                        <label>{{ 'rune' | translate }} I</label>
                                        <md-select ng-model="furnace.rune.runeA" class="md-accent">
                                            <md-option value="{{rune.id}}" class="md-accent"
                                                       ng-repeat="rune in global.inventory.runes | filter:{in_use:false}">
                                                [{{rune.frecuency | translate}}] {{rune.material | translate}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <div class="dropzone" ng-drop="true"
                                         ng-drop-success="onDropComplete($data, 'furnace', 'rune', 'runeA', $event)">
                                        <md-icon md-svg-icon="../../../assets/img/stone-tablet.svg"></md-icon>
                                    </div>
                                </div>
                                <div flex="50">
                                    <md-input-container class="md-accent">
                                        <label>{{ 'rune' | translate }} II</label>
                                        <md-select ng-model="furnace.rune.runeB" class="md-accent">
                                            <md-option value="{{rune.id}}" class="md-accent"
                                                       ng-repeat="rune in global.inventory.runes | filter:{in_use:false}">
                                                [{{rune.frecuency | translate}}] {{rune.material | translate}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <div class="dropzone" ng-drop="true"
                                         ng-drop-success="onDropComplete($data, 'furnace', 'rune', 'runeB', $event)">
                                        <md-icon md-svg-icon="../../../assets/img/stone-tablet.svg"></md-icon>
                                    </div>
                                </div>
                            </div>

                            <div layout="row" layout-align="space-between end">
                                <md-button class="md-icon-button md-warn btnClean" ng-click="cleanForm()">
                                    <md-icon>clear</md-icon>
                                    <md-tooltip md-direction="bottom">Limpiar</md-tooltip>
                                </md-button>

                                <md-button class="md-raised md-icon-button md-accent"
                                           ng-click="btnFurnaceRune()"
                                           ng-disabled="(furnace.rune.runeA === furnace.rune.runeB) || !furnace.rune.runeA || !furnace.rune.runeB">
                                    <md-icon>whatshot</md-icon>
                                    <md-tooltip md-direction="bottom">Hornear runa</md-tooltip>
                                </md-button>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </div>
        </div>

        <!-- INVENTARIO DE RUNAS -->
        <div flex="30" class="md-padding" hide-sm>
            <h4>Inventario de runas</h4>
            <md-grid-list
                    md-cols-sm="2" md-cols-md="3" md-cols-gt-md="5"
                    md-row-height-gt-md="1:1" md-row-height="4:3"
                    md-gutter="6px" md-gutter-gt-sm="8px">

                <md-grid-tile ng-repeat="rune in global.inventory.runes | filter:{in_use:false}"
                              md-rowspan="1"
                              md-colspan="1"
                              md-colspan-sm="1"
                              class="back-{{rune.material}} md-whiteframe-1dp">
                    <md-grid-tile-header class="text-right">{{rune.frecuency | translate}}</md-grid-tile-header>
                    <div class="text-center"
                         ng-drag="true"
                         ng-drag-data="rune"
                         ng-center-anchor="true">
                        <md-icon class="material-{{rune.material}}"
                                 md-svg-icon="../../../assets/img/stone-tablet.svg"></md-icon>
                    </div>
                    <md-grid-tile-footer><h3>{{rune.material | translate}}</h3></md-grid-tile-footer>
                    <!--<md-tooltip md-direction="top">Runa de {{rune.material}}</md-tooltip>-->
                </md-grid-tile>
            </md-grid-list>
        </div>
    </div>

</md-content>
