<header>
    <md-toolbar class="md-whiteframe-4dp md-primary" flex="none">
        <div class="md-toolbar-tools" layout-align="start center">
            <div flex="5" class="logotipo" hide show-gt-xs></div>

            <div flex layout-fill layout="row" layout-align="center center" class="button"
                 ng-class="{'active': isCurrentPage('home')}" ng-click="goToPage('home')">
                <span>
                    <!--<md-icon ng-class="{ 'small-icon': isSmallScreen() }">bubble_chart</md-icon>-->
                    <img class="menu-icon" ng-class="{ 'small-icon': isSmallScreen() }"
                         src="assets/img/menu/games.png"/>
                    <span class="btn-text" hide show-gt-sm> {{ 'menuGames' | translate }}</span>
                </span>
                <md-tooltip md-delay="1000" hide-gt-sm>{{ 'menuGames' | translate }}</md-tooltip>
            </div>
            <div flex layout-fill layout="row" layout-align="center center" class="button"
                 ng-if="global.gamedata.status === gameStatuses.planning"
                 ng-class="{'active': isCurrentPage('planning')}" ng-click="goToPage('planning')">
                <span>
                    <!--<md-icon ng-class="{ 'small-icon': isSmallScreen() }">hourglass_empty</md-icon>-->
                    <img class="menu-icon" ng-class="{ 'small-icon': isSmallScreen() }"
                         src="assets/img/menu/preparation.png"/>
                    <span class="btn-text" hide show-gt-sm> {{ 'menuPlanning' | translate }}</span>
                </span>
                <md-tooltip md-delay="1000" hide-gt-sm>{{ 'menuPlanning' | translate }}</md-tooltip>
            </div>
            <div flex layout-fill layout="row" layout-align="center center" class="button"
                 ng-if="global.gamedata.status === gameStatuses.explore"
                 ng-class="{'active': isCurrentPage('explore')}" ng-click="goToPage('explore')">
                <span>
                    <!--<md-icon ng-class="{ 'small-icon': isSmallScreen() }">explore</md-icon>-->
                    <img class="menu-icon" ng-class="{ 'small-icon': isSmallScreen() }"
                         src="assets/img/menu/exploration.png"/>
                    <span class="btn-text" hide show-gt-sm> {{ 'menuExplore' | translate }}</span>
                </span>
                <md-tooltip md-delay="1000" hide-gt-sm>{{ 'menuExplore' | translate }}</md-tooltip>
            </div>
            <div flex layout-fill layout="row" layout-align="center center" class="button"
                 ng-class="{'active': isCurrentPage('character')}" ng-click="goToPage('character')">
                <span>
                    <!--<md-icon ng-class="{ 'small-icon': isSmallScreen() }">directions_run</md-icon>-->
                    <img class="menu-icon" ng-class="{ 'small-icon': isSmallScreen() }"
                         src="assets/img/menu/character.png"/>
                    <span class="btn-text" hide show-gt-sm> {{ 'menuCharacter' | translate }}</span>
                </span>
                <md-tooltip md-delay="1000" hide-gt-sm>{{ 'menuCharacter' | translate }}</md-tooltip>
            </div>
            <div flex layout-fill layout="row" layout-align="center center" class="button"
                 ng-class="{'active': isCurrentPage('breakfast')}" ng-click="goToPage('breakfast')">
                <span>
                    <!--<md-icon ng-class="{ 'small-icon': isSmallScreen() }">local_cafe</md-icon>-->
                    <img class="menu-icon" ng-class="{ 'small-icon': isSmallScreen() }"
                         src="assets/img/menu/breakfast.png"/>
                    <span class="btn-text" hide show-gt-sm> {{ 'menuBreakfast' | translate }}</span>
                </span>
                <md-tooltip md-delay="1000" hide-gt-sm>{{ 'menuBreakfast' | translate }}</md-tooltip>
            </div>

            <div flex="nogrow" layout="row" layout-align="center center">
                <md-menu md-position-mode="target-right target">
                    <md-button aria-label="Open demo menu" class="md-icon-button custom-avatar-button"
                               ng-class="{ 'kafhe-border-yellow': isUserLeader() }"
                               ng-click="$mdOpenMenu($event)">
                        <img ng-src="assets/img/avatars/{{ global.user.avatar }}.png"/>
                    </md-button>

                    <md-menu-content width="4" class="kafhe-background-primary-hue-3 no-padding">
                        <md-menu-item>
                            <div layout="row" layout-align="space-around center">
                                <p flex="15" ng-if="global.user.leader">
                                    <md-icon class="md-accent md-hue-3">school</md-icon>
                                </p>
                                <p class="kafhe-white text-bold" flex>{{ global.user.username }}</p>
                                <p class="kafhe-white text-bold" flex="none">{{ global.user.game.rank }}
                                    <md-tooltip md-direction="left" md-delay="700">Rango</md-tooltip>
                                </p>
                            </div>
                        </md-menu-item>
                        <md-divider></md-divider>
                        <md-menu-item>
                            <md-button ng-click="btnProfile($event)">
                                <div layout="row" flex>
                                    <p class="kafhe-white" flex>{{ 'menuProfile' | translate }}</p>
                                    <md-icon md-menu-align-target class="md-accent md-hue-1">account_circle</md-icon>
                                </div>
                                <md-tooltip md-delay="1000" hide-gt-sm>{{ 'menuProfile' | translate }}</md-tooltip>
                            </md-button>
                        </md-menu-item>
                        <md-divider></md-divider>
                        <md-menu-item>
                            <md-button ng-click="logout()">
                                <div layout="row" flex>
                                    <p class="kafhe-white" flex>{{ 'headerLogout' | translate }}</p>
                                    <md-icon md-menu-align-target class="md-accent md-hue-1">exit_to_app</md-icon>
                                </div>
                                <md-tooltip md-delay="1000">Desconectar</md-tooltip>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
    </md-toolbar>

    <!-- SUBHEADER -->
    <md-toolbar class="custom-mini-toolbar md-hue-2">
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <p class="text-center" flex-gt-xs="auto" flex="25">
                <md-icon class="vertical-bottom kafhe-purple">whatshot</md-icon>
                {{ global.user.game.fame }}
                <md-tooltip>{{ 'fame' | translate }}</md-tooltip>
            </p>
            <p class="text-center" flex-gt-xs="auto" flex="35">
                <md-icon class="vertical-bottom kafhe-accent-hue-3">format_strikethrough</md-icon>
                {{ global.user.game.tostolares }}
                <md-tooltip>{{ 'tostolares' | translate }}</md-tooltip>
            </p>
            <p class="text-center" flex="40">
                <md-icon class="vertical-bottom kafhe-primary-hue-1"
                         ng-if="global.gamedata.status === gameStatuses.planning">timer
                </md-icon>
                <md-icon class="vertical-bottom kafhe-primary-hue-1"
                         ng-if="global.gamedata.status === gameStatuses.explore">explore
                </md-icon>
                <span ng-if="global.gamedata.status === gameStatuses.weekend">{{ 'textWeekend' | translate }}</span>
                <span ng-if="global.gamedata.status === gameStatuses.planning">{{ convertDate(timePlanning) }}</span>
                <span ng-if="global.gamedata.status === gameStatuses.explore">{{ convertDate(timeExplore) }}</span>
                <span ng-if="global.gamedata.status === gameStatuses.resolution">{{ 'textSort' | translate }}</span>
                <span ng-if="global.gamedata.status === gameStatuses.closed">{{ 'textEnd' | translate }}</span>
                <md-tooltip ng-if="global.gamedata.status === gameStatuses.planning" md-delay="1000">
                    {{ 'textWaiting' | translate }}
                </md-tooltip>
                <md-tooltip ng-if="global.gamedata.status === gameStatuses.explore" md-delay="1000">
                    {{ 'textGames' | translate }}
                </md-tooltip>
            </p>
        </div>
    </md-toolbar>

</header>

