<footer layout="row" flex="auto" layout-align="space-around center" class="kafhe-primary">
    <div flex="20">
        <p>Armas:</p>

        <p ng-repeat="weapon in global.inventory.weapons | filter:{equipped:false}">
            [{{weapon.level}}] {{weapon.name}}
            <md-button ng-click="equip(weapon)">Equipar</md-button>
        </p>
    </div>

    <div flex="20">

        <p>Armaduras:</p>

        <p ng-repeat="armor in global.inventory.armors | filter:{equipped:false}">
            {{armor.name}}
            <md-button ng-click="equip(armor)">Equipar</md-button>
        </p>
    </div>
</footer>
