header .md-toolbar-tools {
    padding: 0;
}

header .logotipo {
    padding: 5px;
    /*min-width: 24px;*/
    background-image: url(../img/k256.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
}

header .logotipo img {
    width: 100%;
}

header .button md-icon {
    vertical-align: middle;
    font-size: 48px;
    width: 48px;
    height: 48px;
}

header .button md-icon.small-icon {
    font-size: 36px;
    width: 36px;
    height: 36px;
}

header .button .btn-text {
    transition: all 0.3s ease;
    font-size: 0rem;
    opacity: 0;
}

header .button:hover .btn-text, header .button.active .btn-text {
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 1;
}

header .button:hover {
    background: #43A047;
    cursor: pointer;
}

header .button.active {
    background: #43A047;
}

.custom-avatar-button {
    border: 2px solid #43A047;
}

.custom-avatar-button img {
    width: 26px;
}

.md-button.md-icon-button.custom-avatar-button {
    padding: 5px 8px 8px 5px;
}

.custom-mini-toolbar {
    min-height: 40px;
}

.custom-mini-toolbar .md-toolbar-tools {
    height: 40px;
}