/* Sobrescribimos material */
md-dialog {
    /*background: #dddddd !important;*/
}

md-toolbar.slim-toolbar {
    height: 36px;
    min-height: 36px;
}

md-toolbar.slim-toolbar .md-toolbar-tools {
    height: 36px;
}

md-toolbar.transparent-toolbar {
    background-color: transparent !important;
}

md-tooltip {
    color: #F5F5F5;
}

md-icon.icon-size-inherit {
    font-size: inherit;
}

md-backdrop.md-opaque {
    opacity: 0.8;
}

@media (min-width: 600px) {
    md-sidenav {
        max-width: 500px;
        width: 500px
    }
}

@media (min-width: 1400px) {
    md-sidenav {
        max-width: 600px;
        width: 600px
    }
}
