/* Sobrescribimos material */
md-dialog {
    background: #dddddd !important;
}

md-toolbar.slim-toolbar {
    height: 36px;
    min-height: 36px;
}

md-toolbar.slim-toolbar .md-toolbar-tools {
    height: 36px;
}