/* Sobrescribimos material */
md-dialog {
    /*background: #dddddd !important;*/
}

md-toolbar.slim-toolbar {
    height: 36px;
    min-height: 36px;
}

md-toolbar.slim-toolbar .md-toolbar-tools {
    height: 36px;
}

md-toolbar.transparent-toolbar {
    background-color: transparent !important;
}

md-tooltip {
    color: #F5F5F5;
}

md-icon.icon-size-inherit {
    font-size: inherit;
}
