.rotate0 {
    transform: rotate(20deg);
}

.rotate0 {
    transform: rotate(20deg);
}

.rotate0 {
    transform: rotate(20deg);
}

.rotate0 {
    transform: rotate(20deg);
}

.rotate0 {
    transform: rotate(20deg);
}

.rotate0 {
    transform: rotate(20deg);
}

.rotate0 {
    transform: rotate(20deg);
}
