<footer flex="auto" layout="column">

    <div flex="none" id="life-bar">
        <span class="bar" ng-style="global.print.lifeBarStyle"></span>
        <md-tooltip md-direction="left">{{ 'lifeBar' | translate}}</md-tooltip>
    </div>

    <div flex="none" id="action-points-bar" layout="row" layout-align="space-around center" layout-padding>
        <!--<p class="align-stretch no-margin">AP</p>-->
        <div ng-repeat="n in [] | range:15">
            <md-icon class="md-accent" ng-if="$index < global.user.game.stats.toast_points">
                radio_button_checked
            </md-icon>
            <md-icon ng-if="$index >= global.user.game.stats.toast_points">radio_button_unchecked</md-icon>
        </div>
        <md-tooltip md-direction="left">{{ 'actionPointsBar' | translate}}</md-tooltip>
    </div>

    <div layout="row" flex="auto">
        <!-- Reputación -->
        <!--<div flex="none" id="reputation-bar">
            <p>{{ global.print.toastPoints }}</p>

            <div class="circle-back"></div>
            <div class="circle" ng-style="global.print.reputationDegreeStyle"></div>
        </div>-->
        <!--<div flex="5"></div>-->


        <div flex id="skill-bar">
            <ul layout="row" layout-align="center start">
                <li ng-repeat="skill in global.skills track by skill.id" class="relative">
                    <!--<a class="hi-icon-effect-1" href="#"
                       ng-click="showTargets(skill, $event)">
                        <md-icon class="hi-icon" style="color:red">star</md-icon>
                    </a>-->
                    <md-button class="md-fab" ng-click="showTargets(skill, $event)">
                        <md-icon>face</md-icon>
                        <md-tooltip md-direction="top">{{ skill.name }}</md-tooltip>
                    </md-button>
                    <span class="usos-restantes">{{skill.uses}}</span>
                </li>
            </ul>
        </div>

        <!--<div flex="5"></div>-->

        <!-- Furia -->
        <!--<div flex="none" id="fury-bar"></div>-->


        <!--<div flex="40">
            &lt;!&ndash;<p>Reputation: {{global.user.game.stats.reputation}}</p>

            <p>Action Points: {{global.user.game.stats.toast_points}}</p>

            <p>Fury: {{global.user.game.stats.fury}}</p>

            <p>Life: }</p>&ndash;&gt;
        </div>

        <div flex>
            <ul>
                <li ng-repeat="skill in global.skills track by id">
                    <a href="#" ng-click="showTargets(skill.id, $event)">{{ skill.name + ' ('+skill.uses+')' }}</a>
                </li>
            </ul>
        </div>-->
    </div>
</footer>
