<section id="explore-page" layout="row" flex>
    <!-- PANEL IZQUIERDO -->
    <md-sidenav class="md-whiteframe-1dp"
                ng-class="{ 'sidenav-small-screen': isSmallScreen() }"
                md-component-id="left"
                md-is-locked-open="!isSmallScreen()">
        <md-toolbar class="md-primary md-hue-3">
            <div class="md-toolbar-tools">
                <h2>Actividad</h2>
                <span flex></span>
                <md-button ng-click="close('left')" class="md-icon-button" ng-hide="!isSmallScreen()" flex="none">
                    <md-icon>clear</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content layout-padding ng-controller="LeftCtrl">
            <ul class="cbp_tmtimeline">
                <li ng-repeat="notif in global.user.notifications track by $index">
                    <div class="cbp_tmtime">
                        <span>{{ notif.timestamp | date:'dd/MM/yy' }}</span>
                        <span>{{ notif.timestamp | date:'HH:mm' }}</span>
                    </div>
                    <div class="cbp_tmicon">
                        <img ng-src="assets/img/notification/{{ notif.type }}.png"/>
                        <md-tooltip md-delay="700" md-direction="bottom">
                            {{ 'notification-' + notif.type | translate }}
                        </md-tooltip>
                    </div>
                    <div class="cbp_tmlabel" ng-class="notif.type">
                        <h3>{{ notif.source }}</h3>
                        <p>{{ notif.message | translate:notif.params }}</p>
                    </div>
                </li>
            </ul>
        </md-content>
    </md-sidenav>

    <!-- CONTENIDO -->
    <md-content flex layout="row" layout-align="center start" ng-cloak>
        <div flex layout-fill>
            <div class="journal-opener" ng-hide="!isSmallScreen()">
                <md-button ng-click="toggle('left')" class="md-icon-button">
                    <md-icon>import_contacts</md-icon>
                </md-button>
                <md-tooltip md-direction="right" md-delay="1000">Historial</md-tooltip>
            </div>

            <div id="map-container" layout-fill>
                <div id="mapid"></div>
            </div>

            <div class="character-opener">
                <md-button ng-click="toggle('right')" class="md-icon-button">
                    <md-icon>face</md-icon>
                </md-button>
                <md-tooltip md-direction="left" md-delay="1000">Personaje</md-tooltip>
            </div>
        </div>
    </md-content>

    <!-- PANEL DERECHO -->
    <md-sidenav class="md-sidenav-right md-whiteframe-1dp"
                ng-class="{ 'sidenav-small-screen': isSmallScreen() }"
                md-component-id="right">
        <md-toolbar class="md-primary md-hue-3">
            <div class="md-toolbar-tools">
                <h2>{{'menuCharacter' | translate}}</h2>
                <span flex></span>
                <md-button ng-click="close('right')" class="md-icon-button" flex="none">
                    <md-icon>clear</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content layout="column" layout-padding ng-controller="RightCtrl">
            <div layout="row">
                <div flex="none">
                    <img ng-class="{'small-avatar':isSmallScreen()}"
                         ng-src="assets/img/avatars/{{ global.user.avatar }}.png"/>
                </div>

                <div flex layout-padding>
                    <h2 class="text-center">{{ global.user.alias }}</h2>
                    <p>
                        {{'rank'|translate}} {{global.user.game.rank}}
                        <span ng-if="global.user.leader"> - {{'textLeaderGroup' | translate}}</span>
                    </p>
                    <p>{{ 'textCallTimes' | translate:{calls:global.user.calls, times:global.user.times} }}</p>
                </div>
            </div>

            <!-- EQUIPAMIENTO -->
            <h3 ng-hide="global.user.game.schedule.weapon.length===0 && global.user.game.schedule.armor.length===0 && global.user.game.schedule.place.length===0">
                {{'textPlanningTeam'|translate}}
            </h3>
            <div layout="row" layout-align="start center" class="character-equipment" layout-margin
                 ng-if="global.user.game.schedule.weapon.length > 0"
                 ng-click="showCardDialog($event, global.gamedata.cards[global.user.game.schedule.weapon[0].card], global.user.game.schedule.weapon[0].level)">
                <img class="margin-right-20" flex="none" ng-src="assets/img/cardtype/weapon.png"/>
                <p class="text-bold text-big">
                    {{ global.gamedata.cards[global.user.game.schedule.weapon[0].card].name }} {{
                    roman[global.user.game.schedule.weapon[0].level] }}</p>
                <md-tooltip>{{'textWeapon'|translate}}</md-tooltip>
            </div>
            <div layout="row" layout-align="start center" class="character-equipment" layout-margin
                 ng-if="global.user.game.schedule.armor.length > 0"
                 ng-click="showCardDialog($event, global.gamedata.cards[global.user.game.schedule.armor[0].card], global.user.game.schedule.armor[0].level)">
                <img class="margin-right-20" flex="none" ng-src="assets/img/cardtype/armor.png"/>
                <p class="text-bold text-big">
                    {{ global.gamedata.cards[global.user.game.schedule.armor[0].card].name }} {{
                    roman[global.user.game.schedule.armor[0].level] }}</p>
                <md-tooltip>{{'textArmor'|translate}}</md-tooltip>
            </div>
            <div layout="row" layout-align="start center" class="character-equipment" layout-margin
                 ng-if="global.user.game.schedule.place.length > 0"
                 ng-click="showCardDialog($event, global.gamedata.cards[global.user.game.schedule.place[0].card], global.user.game.schedule.place[0].level)">
                <img class="margin-right-20" flex="none" ng-src="assets/img/cardtype/compass.png"/>
                <p class="text-bold text-big">
                    {{ global.gamedata.cards[global.user.game.schedule.place[0].card].name }}</p>
                <p>
                    <md-icon class="md-accent md-hue-3"
                             ng-repeat="i in getNumber(global.user.game.schedule.place[0].level) track by $index">
                        star
                    </md-icon>
                </p>
                <md-tooltip>{{'textPlace'|translate}}</md-tooltip>
            </div>

            <!-- HABILIDADES -->
            <div ng-if="global.user.game.schedule.skill.length > 0">
                <h3>{{'textSkills'|translate}}</h3>
                <div layout="row" layout-align="start center" class="character-equipment" layout-margin
                     ng-if="global.user.game.schedule.skill[0]"
                     ng-click="showCardDialog($event, global.gamedata.cards[global.user.game.schedule.skill[0].card], global.user.game.schedule.skill[0].level)">
                    <img class="margin-right-20" flex="none" ng-src="assets/img/cardtype/skill.png"/>
                    <p class="text-bold text-big" flex
                       ng-class="{'strike': (global.gamedata.cards[global.user.game.schedule.skill[0].card].uses <= 0)}">
                        {{ global.gamedata.cards[global.user.game.schedule.skill[0].card].name }} {{
                        roman[global.user.game.schedule.skill[0].level] }}
                    </p>
                    <p flex="none" ng-if="!isSmallScreen()">{{ 'textUses' | translate}}:
                        {{global.gamedata.cards[global.user.game.schedule.skill[0].card].uses}}</p>
                    <p flex="none" ng-if="isSmallScreen()">
                        x{{global.gamedata.cards[global.user.game.schedule.skill[0].card].uses}}
                    </p>
                    <md-tooltip>{{ 'textSkill' | translate }}</md-tooltip>
                </div>
                <div layout="row" layout-align="start center" class="character-equipment" layout-margin
                     ng-if="global.user.game.schedule.skill[1]"
                     ng-click="showCardDialog($event, global.gamedata.cards[global.user.game.schedule.skill[1].card], global.user.game.schedule.skill[1].level)">
                    <img class="margin-right-20" flex="none" ng-src="assets/img/cardtype/skill.png"/>
                    <p class="text-bold text-big" flex
                       ng-class="{'strike': (global.gamedata.cards[global.user.game.schedule.skill[1].card].uses <= 0)}">
                        {{ global.gamedata.cards[global.user.game.schedule.skill[1].card].name }} {{
                        roman[global.user.game.schedule.skill[1].level] }}
                    </p>
                    <p flex="none" ng-if="!isSmallScreen()">{{ 'textUses' | translate}}:
                        {{global.gamedata.cards[global.user.game.schedule.skill[1].card].uses}}</p>
                    <p flex="none" ng-if="isSmallScreen()">
                        x{{global.gamedata.cards[global.user.game.schedule.skill[1].card].uses}}
                    </p>
                    <md-tooltip>{{ 'textSkill' | translate }}</md-tooltip>
                </div>
                <div layout="row" layout-align="start center" class="character-equipment" layout-margin
                     ng-if="global.user.game.schedule.skill[2]"
                     ng-click="showCardDialog($event, global.gamedata.cards[global.user.game.schedule.skill[2].card], global.user.game.schedule.skill[2].level)">
                    <img class="margin-right-20" flex="none" ng-src="assets/img/cardtype/skill.png"/>
                    <p class="text-bold text-big" flex
                       ng-class="{'strike': (global.gamedata.cards[global.user.game.schedule.skill[2].card].uses <= 0)}">
                        {{ global.gamedata.cards[global.user.game.schedule.skill[2].card].name }} {{
                        roman[global.user.game.schedule.skill[2].level] }}
                    </p>
                    <p flex="none" ng-if="!isSmallScreen()">
                        {{ 'textUses' | translate}}: {{
                        global.gamedata.cards[global.user.game.schedule.skill[2].card].uses}}
                    </p>
                    <p flex="none" ng-if="isSmallScreen()">
                        x{{global.gamedata.cards[global.user.game.schedule.skill[2].card].uses}}
                    </p>
                    <md-tooltip>{{ 'textSkill' | translate }}</md-tooltip>
                </div>
            </div>
        </md-content>
    </md-sidenav>
</section>
