<section id="explore-page" layout="row" flex>
    <!-- PANEL IZQUIERDO -->
    <md-sidenav class="md-whiteframe-1dp"
                ng-class="{ 'sidenav-small-screen': isSmallScreen() }"
                md-component-id="left"
                md-is-locked-open="!isSmallScreen()">
        <md-toolbar class="md-primary md-hue-3">
            <div class="md-toolbar-tools">
                <h2>Actividad</h2>
                <span flex></span>
                <md-button ng-click="close('left')" class="md-icon-button" ng-hide="!isSmallScreen()" flex="none">
                    <md-icon>clear</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content layout-padding ng-controller="LeftCtrl">
            <ul class="cbp_tmtimeline">
                <li ng-repeat="notif in global.user.notifications track by $index">
                    <div class="cbp_tmtime">
                        <span>{{ notif.timestamp | date:'dd/MM/yy' }}</span>
                        <span>{{ notif.timestamp | date:'HH:mm' }}</span>
                    </div>
                    <div class="cbp_tmicon">
                        <img ng-src="assets/img/notification/{{ notif.type }}.png"/>
                        <md-tooltip md-delay="700" md-direction="bottom">
                            {{ 'notification-' + notif.type | translate }}
                        </md-tooltip>
                    </div>
                    <div class="cbp_tmlabel" ng-class="notif.type">
                        <h3>{{ notif.source }}</h3>
                        <p>{{ notif.message | translate:notif.params }}</p>
                    </div>
                </li>
            </ul>
        </md-content>
    </md-sidenav>

    <!-- CONTENIDO -->
    <md-content flex layout="row" layout-align="center start" ng-cloak>
        <div flex layout-fill>
            <div class="journal-opener" ng-hide="!isSmallScreen()">
                <md-button ng-click="toggle('left')" class="md-icon-button">
                    <md-icon>import_contacts</md-icon>
                </md-button>
                <md-tooltip md-direction="right" md-delay="1000">Historial</md-tooltip>
            </div>

            <div id="map-container" layout-fill>
                <div id="mapid"></div>
            </div>

            <div class="character-opener">
                <md-button ng-click="toggle('right')" class="md-icon-button">
                    <md-icon>face</md-icon>
                </md-button>
                <md-tooltip md-direction="left" md-delay="1000">Personaje</md-tooltip>
            </div>
        </div>
    </md-content>

    <!-- PANEL DERECHO -->
    <md-sidenav class="md-sidenav-right md-whiteframe-1dp"
                ng-class="{ 'sidenav-small-screen': isSmallScreen() }"
                md-component-id="right">
        <md-toolbar class="md-primary md-hue-3">
            <div class="md-toolbar-tools">
                <h2>Personaje</h2>
                <span flex></span>
                <md-button ng-click="close('right')" class="md-icon-button" flex="none">
                    <md-icon>clear</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content layout="column" layout-padding ng-controller="RightCtrl">
            <div layout="row">
                <div flex="none">
                    <img ng-src="assets/img/avatars/{{ global.user.avatar }}.png"/>
                </div>

                <div flex layout-padding>
                    <h2 class="text-center">{{ global.user.alias }}</h2>
                    <p>
                        {{'rank'|translate}} {{global.user.game.rank}}
                        <span ng-if="global.user.leader"> - {{'textLeaderGroup' | translate}}</span>
                    </p>
                    <p>{{ 'textCallTimes' | translate:{calls:global.user.calls, times:global.user.times} }}</p>
                </div>
            </div>

            <h3>Equipo</h3>
            <div layout="row" layout-align="space-between center">
                <div flex class="schedule-card-holder summary" layout-align="center center" layout="column">
                    <img ng-src="assets/img/cards/{{global.user.game.schedule.weapon[0].card}}.jpg"/>
                </div>
                <div flex class="schedule-card-holder summary" layout-align="center center" layout="column">
                    <img ng-src="assets/img/cards/{{global.user.game.schedule.weapon[0].card}}.jpg"/>
                </div>
                <div flex class="schedule-card-holder summary" layout-align="center center" layout="column">
                    <img ng-src="assets/img/cards/{{global.user.game.schedule.weapon[0].card}}.jpg"/>
                </div>
            </div>
        </md-content>
    </md-sidenav>
</section>
